{% extends 'base.html' %}
{% load static %}
{% block title %}Laboratorio{% endblock %}
{% block css %}
  <link href="{% static 'css/apps.css' %}" rel='stylesheet'/>
{% endblock css %}
{% block container %}
{% include 'afiliacion/partials/buscar_paciente.html' with accion='<button class="btn btn-primary" v-bind="{id: list_paciente.uuid}" data-toggle="modal" data-target="#md_resultados" v-on:click="vm.prepareSolicitud($event)">Ver Examenes</button><button class="btn btn-success" v-bind="{id: list_paciente.uuid}" data-toggle="modal" data-target="#md_solicitud_laboratorio_form" v-on:click="vm.prepareSolicitud($event)">Sol. Examen</button>' %}
  <div id="app">
    {% include 'laboratorio/partials/popup_laboratorio.html' %}
    {% include 'laboratorio/partials/popup_laboratorio_resultados.html' %}
  </div>
{% endblock %}
{% block javascript %}
  <script src="{% static 'js/DjangoAjax.js' %}"></script>
  {% include 'dashboard/conf.html' %}
  <script src="{% static 'js/laboratorio/laboratorio_examen.js' %}"></script>
  <script src="{% static 'js/afiliacion/paciente.js' %}"></script>
{% endblock javascript %}
